<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <h2><%= banner %></h2>

<form>
NetID: <input type="text" name="NetID"><br>
Password: <input type="text" name="Password">
<br><input type="submit" value="Log In"></br>
</form>

  </body>
</html>